.speech {
font-size: 10px;
font-family: 'Courier New', Courier, monospace;
color: black;
}

.direction {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: darkgoldenrod;
    

}

.direction:hover{
    background-color: antiquewhite;
    color: darkorange;
}

.POORMAN {
    color: orange;
}

.IMP {
    color: rgb(3, 115, 115);
}

.JUDGE {
    color: brown;
}
table,th,td {
    border: 1.5px solid;
    border-collapse: collapse;
    text-align: center;
    color: chartreuse;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
tr:nth-child(3){
    background-color: bisque;
}
tr:nth-child(even){
    background-color: lightgreen;
}

.POORMAN:hover {
    background-color: aquamarine;
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 3px solid rgb(228, 12, 174);
    

}
.JUDGE:hover {
    background-color: aquamarine;
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 3px solid rgb(228, 12, 174);
}
.IMP:hover {
    background-color: aquamarine;
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 3px solid rgb(228, 12, 174);
}
 
ul.navbar-horizontal{
    display:flex; 
}
ul li{
    margin: 20px;
    padding: 30px; 
    list-style: none;}
         li a{
            text-decoration: none;
            background-color:darkmagenta;
         }
        
